*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #151516
}

li, a {
  font-family: "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #fdfeff;
  text-decoration: none;
}

body {
  font-family: monospace, sans-serif;
  font-size: 18px;
  color: #a0a7a8;
  text-decoration: none;
}

footer {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  color: #a0a7a8;
  text-decoration: none;
}













header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

a {
  transition: all 0.3s ease 0s;
}

a:hover {
  color: #a0a7a8
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #a0a7a8
}















p, footer {
  padding: 5% 10%;
}

#socials {
  transform: skew(15deg, 15deg);
  padding: 4% 10%;
  background: rgba(0,0,0,0.0);
  width: 300px;
  border: 3px solid #73AD21;
}

.img-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: 70%;
}


















html, body {
  height: 100%;
}

#container1 {
  min-height: 100%;
}

#main1 {
  overflow: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer {
  background-color: #151516;
  position: relative;
  height: 40px;
  margin-top: -40px;
  clear: both;

}